.main{
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #93F9B9, #1D976C); /**/
    height: 100%;
}
.content .instrucoes li{
    list-style: none;
}